* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #ffffff;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(43, 48, 59, 0.5);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.termite,
window#waybar.chromium {
    background-color: rgba(43, 48, 59, 0.5);
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
}

button:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused {
    background-color: rgba(43, 48, 59, 0.5);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: rgba(43, 48, 59, 0.5);
    box-shadow: inset 0 -3px #ffffff;
    color: #ffffff;
}

#scratchpad {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
}

#scratchpad.empty {
    background-color: transparent;
}

#clock,
#battery,
#battery.charging,
#battery.plugged,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#tray,
#mode,
#custom-screenshot,
#workspaces {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
}

#battery.charging,
#battery.plugged {
    background-color: #26A65B;
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#pulseaudio:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#pulseaudio.muted {
    color: #aaaaaa;
}

#custom-screenshot {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

